# Application Server Configuration
PORT=3000
HOST=localhost

# Contact & Social Links
CONTACT_EMAIL=as59897612@gmail.com
GITHUB_URL=https://github.com/aadi-devlog
LINKEDIN_URL=https://www.linkedin.com/in/aditya-singh-4364663a6/
